# Node dependencies
**/node_modules/

# Output directories
**/.next/
**/out/
**/dist/
**/build/

# Environment variables
**/.env
**/.env.local

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# IDEs
.vscode/
.idea/
